.bienvenida{

}

.fondo-portada{
  background-image: url("../../assets/imagenes/fondo.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.boda-cursiva {
  font-family: 'Great Vibes', cursive;
  color: #b38b59;        /* un dorado elegante */
  letter-spacing: 2px;   /* separación de letras */
  font-size:clamp(40px,9vw,70px);
  color:#b08d57;
  color:#b08d57;
  line-height: 1.1;
}

.texto-sobre {
  position: absolute;
  top: -80px; /* súbelo más (-50px, -70px, -90px según prefieras) */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
  z-index: 2;
}

.boda-primaria {
  font-family: 'Parisienne', cursive;
  font-size:clamp(60px,8vw,70px);
  color:#b08d57;
  line-height: 1.0;
  margin-top: -10px;

}
.boda-secundaria {
  font-family: 'Alex Brush', cursive;
  font-size:clamp(33px,7vw,65px);
  color: #1f2023;
  line-height: 1.1;
}


.text-invitacion {
  font-family: 'Libre Baskerville', serif;
  font-size: clamp(1rem, 2vw, 1.35rem);
  letter-spacing: .7px;
  color: #000000;
  line-height: 1;
  text-align: center;
  text-decoration:none;
  margin-top: 70px;
}



.nombres-boda {
  font-family: 'Alex Brush', cursive;
  font-size: 3rem;
  color: #a67c52;   /* dorado elegante */
}

.detalles-boda {
  font-family: 'Tangerine', cursive;
  font-size: 2rem;
  color: #333;
}
.nombres-boda {
  font-family: 'Italianno', cursive;
  font-size: 3.2rem;
  color: #b8860b;   /* dorado elegante */
  letter-spacing: 1px;
}

.subtitulo-boda {
  font-family: 'Pinyon Script', cursive;
  font-size: 4rem;
  color:#b08d57;
}

.nombres-boda-1 {
  font-family: 'Pinyon Script', cursive;
  font-size: 3.3rem;
  color: #b88946;   /* dorado */
}

.texto-boda {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.2rem;
  color: #333;
}
.sobre {
  margin-top: 150px; /* baja el sobre, ajusta el valor */
}

.principal-text {
  padding-top: 10px;
  font-family: 'Pinyon Script', cursive;
  font-size: 2rem;
  color: #101010;
}
.text-invitacion-reserver {
  font-family: 'Libre Baskerville', serif;
  font-size: clamp(1rem, 2vw, 1.35rem);
  letter-spacing: .7px;
  color: #000000;
  line-height: 0;
  text-align: center;
  text-decoration:none;
}
