
  <!-- TEXTO ARRIBA -->
  <!-- CONTADOR -->

  <!-- TEXTO ABAJO -->
  <!--div class="countdown-bottom-text" revealOnScroll>DÍAS PARA NUESTRA BODA</--div-->


<div class="invitacion ">
  <!-- (Aquí iría tu bloque de imagen dividida, cuenta regresiva, etc.) -->

  <div class="eventos-flex">

    <!-- TARJETA 1: CEREMONIA RELIGIOSA -->
    <div class="evento-card " revealOnScroll>
      <div class="sello"></div>
      <div class="iniciales"></div>
      <div class="titulo" revealOnScroll>
        <p>Ceremonia Religiosa y Recepción</p>
      </div>
      <div class="texto-evento mayusculas">
      <p>Quinta Ceiba Real</p></div>
      <a
        class="btn-ubicacion"
        href="https://maps.app.goo.gl/X3bexKqzQei5xrha8"
        target="_blank"
        rel="noopener noreferrer"
      >Ver Ubicación</a
      >
    </div>
  </div>
</div>
  <div class="countdown-title">
    <p>Faltan</p>
  </div>
  <div class="countdown-grid" revealOnScroll >

    <!-- Números y dos puntos -->
    <div class="number">{{ diasFaltantes }}</div>
    <div class="separator">:</div>
    <div class="number">{{ horasFaltantes }}</div>
    <div class="separator">:</div>
    <div class="number">{{ minutosFaltantes }}</div>
    <div class="separator">:</div>
    <div class="number">{{ segundosFaltantes }}</div>

    <!-- Etiquetas -->
    <div class="label">DÍAS</div>
    <div></div>
    <div class="label">HORAS</div>
    <div></div>
    <div class="label">MINUTOS</div>
    <div></div>
    <div class="label">SEGUNDOS</div>
  </div>


