<div class="invitacion" revealOnScroll>
  <!-- Imagen + texto principal -->
  <div class="imagen-container" #imagenScroll>
    <div class="imagen"></div>

    <!-- Texto sobre la foto
    <div class="parte1" revealOnScroll>
      <p class="intro">29 NOVIEMBRE 2025</p>
      <div class="nombres-novios">
        <h1>Fernanda</h1>
        <h1>& Rogelio</h1>
      </div>
      <p class="intro">VILLAHERMOSA, TABASCO</p>
    </div>
    -->
    <div class="foto-con-iniciales">
    </div>

  </div>

  <div class="eventos-flex">

  <div class="card-portada " revealOnScroll>
    <div class="sello"></div>
<p class="text-name mayusculas">Tenemos el honor de invitarte a celebrar nuestra boda</p>
    <div revealOnScroll>
      <div class="nombres-boda-1">
        <h1>Fernanda</h1>
        <h1>y</h1>
        <h1>Rogelio</h1>
      </div>

      <p class="cursiva">29 | 11 | 2025</p>
      <!--
      <p class="text-name-villahermosa">VILLAHERMOSA, TABASCO</p-->
    </div>


    <div class="parents">
      <div class="parents-girl">
        <p class="text-name mayusculas" revealOnScroll>Con la bendición de Dios y de</p>
        <p class="cursiva-1"> Nuestros Padres</p>
        <div class="row ">
          <div class="col-6 text-name-parent mayusculas">
            <p revealOnScroll>José Juan Zurita Andrade </p><p> Marilú Alvarez Camara </p>
          </div>
          <div class="col-6 text-name-parent mayusculas" >
            <p class= revealOnScroll>Bladimir Juarez Marcin </p>
            <p>Linda Franco Martinez</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>



  <!-- Versículo debajo
  <div class="versiculo " revealOnScroll>
    <h2>Y sobre todas estas cosas vistíos de amor, que es el vínculo perfecto</h2>
    <h3>Colosenses 3:14</h3>
  </div-->


</div>
